body {
	background-color: rgb(255, 191, 255)
}

.logo2 {
	height: 25%; 
	width: 25%
}

header {
	background: rgb(255, 180, 255);
	padding: 20px 0;
}

.logo {
    width: 25%; 
    height: 20%;
}

.caixa {
    position: relative; 
    width: 811px; 
    margin: 0 auto;
}

nav {
    position: absolute; 
    top: 55px; 
    right: 0;
}

nav li {
    display: inline; 
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase; 
    color: black; 
    font-weight: bold; 
    font-size: 22px; 
    text-decoration: none;
}

nav a:hover {
    color:rgb(255, 235, 248)
}

footer {
    background: rgb(255, 180, 255);
}

.logotiposherevela {
    width: 5%; 
    height: 5%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 0 0 5px;
} 

.ip {
    display: block;
    margin: 0 0 15px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px  0;
    background: rgb(255, 156, 255);
    color: rgb(21, 21, 102);
    border: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 7px;
    transition: 1s;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(253, 117, 253);
    transform: scale(1.1);
}

.textoinf {
    font-size: 23px;
}

.textoform {
    font-size: 23px;
}

.textoform2 {
    font-size: 15px;
}

.ender {
    font-size: 23px;
}

.textoender {
    font-size: 17px;
}